@import 'variables';
@import 'animate';
@import 'spinny';

.homecontainer{
	margin-top: 50px;
	margin-bottom:100px;
	text-align:center;
	display:block;
	font-size:200%;

	.slash{
		font-size:100%;
		font-family: $font2;
		color: $color2;

	}
	.div{
		font-size:200%;
		font-family: $font2;
		color: $color3;
	}

	.ination{
		font-family: $font1;
		color: $color3;

	.de{
		font-family: $font1;
	}

	}
		.sign{
			color: $color3;
			font-size:100%;
			font-family: $font1;
		}
	
	

}
.row2{
	height:500px;
	//border: 1px dashed black;
	overflow:hidden;
	background-color:$color4;
	font-family:$font1;


	.spinny{
		margin-top:200px;
		margin-left:-200px;
		font-size:200%;
		position: relative;
		animation-name: spin;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		height:100px;
		width: 100px;
		//background-color:red;
		border-radius:100%;
		border:5px dashed white;
		color: $color2;
		z-index:1;
	}
	.spinny2{
		margin-top:-70px;
		margin-left:-170px;
		font-size:200%;
		position: relative;
		animation-name: spin;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		height:100px;
		width: 100px;
		//background-color:red;
		border-radius:100%;
		border:5px dashed $color4;
		color: $color1;
	}
}
.weknow{
	//border:1px dashed black;
	text-align:left;
	font-size:300%;
	font-family:$font3;
	width:400px;
	height:400px;
	transform:rotate(90deg);
	margin-top:30px;
	margin-right:50px;
	margin-left:-40px;
	z-index:100;
}