#func{
	margin-top:25px;
	margin-left:70px;
	width:200px;
}

#brack{
	transform:rotate(90deg);
	width:200px;
	margin-top:-20px;
	margin-left:-55px;		
}

#ht{
	transform:rotate(45deg);
	margin-top:70px;
	margin-left:-40px;
	width:400px;
}

#tra{
	transform:rotate(-90deg);
	margin-top:-275px;
}
#spi{
	transform:rotate(-135deg);
	margin-top:30px;
	margin-right:150px;
}