/*colors*/

$color1: #1b1b1b;
$color2: #00FF12;
$color3: #00960F;


/*fonts*/
/*<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Cutive+Mono|Fredericka+the+Great|Iceberg|Kumar+One+Outline|Love+Ya+Like+A+Sister|Miriam+Libre|Pompiere|Press+Start+2P" rel="stylesheet">*/

$font1: 'Miriam Libre';
$font2: 'Cutive Mono';
$font3: 'Press Start 2P'