/*colors*/

$color1: #1b1b1b;


/*fonts*/
/*<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Cutive+Mono|Fredericka+the+Great|Iceberg|Kumar+One+Outline|Love+Ya+Like+A+Sister|Miriam+Libre|Pompiere|Press+Start+2P" rel="stylesheet">*/

$font1: 'Fredericka the Great';
$font2: 'Pompiere';