/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("../assets/images/codepic.png");
  background-position: center;

    background-size: cover;
}
section.module.parallax-2 {
  background-image: url("../assets/images/sun.png");
  background-position: center;

    background-size: cover;
}
section.module.parallax-3 {
  background-image: url("../assets/images/macintosh.jpg");
  background-position: center;

    background-size: cover;
  }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
.p-heading{
  padding-top:100px;
  padding-bottom:80px;
  background-color:#8D2A2A;
  margin-bottom:80px;
  margin-top:100px;
  color:white;
  text-align:center;
}
#h1-heading{
  margin-bottom:60px;
  font-size:42px;
}
.small{
  font-size:15px;
  opacity:.8;
}
#members{
  height:200px;
  background-color:#DC9931;
  margin-top:40px;


}
.col-md-3{
    height:200px;
 position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.col-md-3:before, .col-md-3:after{

   content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.col-md-3:after{
   right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

h3{
color:#1e1e1e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
font-family: 'Merriweather', serif;
font-size:25px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  font-family: 'Gudea', sans-serif !important;
  font-weight:bold;
  letter-spacing:3px;
  font-size:30px;
}
h1{
  font-family: 'Maven Pro', sans-serif;
  font-weight:bold;
  padding:20px;
  font-size:80px !important;

}
.member-link{
  transition:1s;

}
.member-link:hover{
  transition:1s;
  opacity:0.8;

}