<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheet/aboutstyle.css">
   <link href="https://fonts.googleapis.com/css?family=Gudea:400i|Maven+Pro:400,700|Merriweather|Montserrat" rel="stylesheet">

    <title>About Us</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>
  <div id="page_effect" style="display:none;">

  <section class="page-header">
   <div class="container">
<h1 id="h1-heading">  </h1>
 
  <p class="small"> Team of developers from Philadelphia, PA. Graduated from New York Coding + Design Academy. Languages: HTML, CSS, JS, Jquery, Sass, Ruby, git, and more.  </p></div>
  </section>


<section class="module parallax parallax-1">  
<div class ="container">  
  
</div>
</section>
    
  <section class="module content">
     <div class="container">
      <h2 id="head-one">&lt;div&gt;   ination Design: What We Do </h2>
       <p class="container-fluid"> Featuring a solid portfolio of well-designed and developed websites and mobile apps, Divnation Design is a major player in the NYC web development scene. They specialize in delivering a great experience with an unique artistic insight to projects like their work for Prong. They apparently very much value the longer-term relationship with a client, so if you're going to be looking for a few projects over the next few months or years, I'd give them a ring.  </p></div>
   </section>

   <section class="module parallax parallax-2">  
<div class ="container">  
</div>
</section>

<section class="module content">
     <div class="container">
      <h2> Our Team </h2>
       <p class="container-fluid">  Divination Design employs a small yet talented staff of web designers, developers and digital marketing specialists that thrive on helping each client succeed. The firm is popular because they make decisions and implement projects quickly. Divination Design has worked with a variety of clients, both small and large. </p></div>

       
       <hr  />
       <div class="container">
<div class="row">
<div class="container">
 <a class="thumbnail" href="#"><li><h3>Jordan Forbes</h3></li> </a>
        <a class="thumbnail" href="#"><li><h3>Tracey Gresham</h3> </li></a>
        <a class="thumbnail" href="#"><li><h3> Domitrius Clark</h3> </li></a>
       <a class="thumbnail" href="#"> <li><h3>Chuong Nguyen </h3></li></a>
  </div>
  </div></div>
  <div class="container-fluid">
  <div class="jumbotron">
  <h1>Find Opportunities</h1>
  <p>Divination Design is hiring for front-end devlopers, back-end, graphic design, and many more positions available.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div></div>





   </section>


    <section class="module parallax parallax-3">  
<div class ="container">  
</div>
</section>
<hr  />

<section class="module content">
  <div class="container">
     <div class="row">

     <div class="col-md-8">
      <h2 class="head-four"> Our Method</h2>
       <p class="our-method">Connections between brands and audiences can happen anytime and anywhere. Converting these connections into conversations takes a strategic approach fueled by a knowledge of the latest digital marketing technologies. Connections between brands and audiences can happen anytime and anywhere. Converting these connections into conversations takes a strategic approach fueled by a knowledge of the latest digital marketing technologies. </p> </div>



      
       <div class="col-md-4"><div class="side-group">
       <div class="parallax">
       <h2 class="side-head"> Experience </h2>
       <ul>
       <a href="#"> <li class="side-list"> Responsive Wesbites</li> </a>
       <a href="#"> <li class="side-list"> Branding and Identity </li></a>
         <a href="#"> <li class="side-list"> User Experience </li></a>
           <a href="#"> <li class="side-list"> Interface and Interaction </li></a>
       </ul></div>
       <div class="parallax">
       <h2 class="side-head"> Technology </h2>
       <ul>
       <a href="#"> <li class="side-list"> API and Systems Integration </li> </a>
       <a href="#"> <li class="side-list"> E-Commerce Platforms </li></a>
         <a href="#"> <li class="side-list">Content Management Systems  </li></a>
           <a href="#"> <li class="side-list"> Email Marketing Solutions</li></a>
       </ul> </div>
      
       <h2 class="side-head">Strategy </h2>
       <ul>
       <a href="#"> <li class="side-list"> Brand Messaging</li> </a>
       <a href="#"> <li class="side-list"> Conversion Optimization </li></a>
         <a href="#"> <li class="side-list"> UX Optimization </li></a>
           <a href="#"> <li class="side-list"> SEO Marketing </li></a>
       </ul>
    
</div> </div>
<div class="col-md-8">
<h2 class="head-four"> Our Method</h2>
       <p class="our-method2">Connections between brands and audiences can happen anytime and anywhere. Converting these connections into conversations takes a strategic approach fueled by a knowledge of the latest digital marketing technologies. Connections between brands and audiences can happen anytime and anywhere. Converting these connections into conversations takes a strategic approach fueled by a knowledge of the latest digital marketing technologies. </p> </div>
       </div> </div>
   </section>


      <section class="module parallax parallax-4">  
<div class ="container">  
</div>
</section>

<section class="module content">
     <div class="container">
      <h2> I Like Clouds... </h2>
       <p class="container-fluid">  Divination Design employs a small yet talented staff of web designers, developers and digital marketing specialists that thrive on helping each client succeed. The firm is popular because they make decisions and implement projects quickly. Divination Design has worked with a variety of clients, both small and large. </p></div>

   </div>


   </body>
 

    

   


   <script src="script.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
