


<div class="row">
	<div class="col-md-12">
		

		<div class="parallax">
                <div class="content">
                <h2 class="contact-us">Contact us!</h2>
                <p class="contact-p">If you're looking to begin your the adventure towards making your idea a reality, drop your info directly below!</p>
                </div>

            </div>

	
</div>









	<div class="col-md-6">
	<img class="sales" src="../images/reason-sales.png" style="height: 200px; width: 200px;">

	</div>

	<div class="col-md-6">
		<img class="customer" src="../images/customer-support.png" style="height: 200px; width: 200px;">
	</div>

	


</div>



