


<div class="row">
	<div class="col-md-12">
		

		<div class="parallax">
                <div class="content">
                <h2 class="contact-us">Contact us!</h2>
                <p class="contact-p">If you're looking to begin your the adventure towards making your idea a reality, drop your info directly below!</p>
                </div>

            </div>

	
</div>









	<div class="col-md-6">
		

		<div class="sales animated fadeInLeft">
			<img src="../images/reason-sales.png" style="height: 200px; width: 200px;">
			<h3 class="start">Start a website</h3>
			<p class="sales-p">Here you can submit your Business & personal information for us to review. One of our developers will send a follow up email within 24 hours!
			</p>
			<a href="contact_form.erb"><button class= "button1" type="button"><a href="/contact_form">Start a website</button></a>
		</div>
	</div>

	<div class="col-md-6">
		<div class="customer animated fadeInRight">
			<img src="../images/customer-support.png" style="height: 200px; width: 200px;">
			<h3 class="support">Customer Support</h3>
			<p class="customer-p">Get in touch with customer support for assistance with any of your questions on implementing your business into a website or prices.
			</p>
			<button class="button2" type="button">Customer Support</button>
		</div>

	</div>

	


</div>



