<div class="homecontainer container">
	<div class="row">
		<div class="col-md-12">
			<div class="title">
				<h1>
					<span class="div">&lt;div&gt;</span>
					<span class="ination">ination design/</span>
					
				</h1>
			</div>
		</div>
	</div>
	

	<div class="row row2">

		<div class="col-md-4">

		</div>

		<div class="col-md-4">

			<div class="spinny">
				<div id="tra">
					transform:rotate(360deg)
				</div>
				<div id="col">
					class="col-md-12"
				</div>
				<div id="spi">
					.spin{}
				</div>
				<div id="func">
					function(){}
				</div>
				<div id="al">
					.alert(code.reverse())
				</div>
				<div id="bin">
					01101000 01101001
				</div>
				<div id="ht">
					&lt;p class= "yo"&gt;
				</div>
				<div id="brack">
					<div id="brac">
						if(x>y){i+1}
					</div>
				</div>
			</div>
			<div class="spinny2">
				<div id="tra">
					transform:rotate(360deg)
				</div>
				<div id="col">
					class="col-md-12"
				</div>
				<div id="spi">
					.spin{}
				</div>
				<div id="func">
					function(){}
				</div>
				<div id="al">
					.alert(code.reverse())
				</div>
				<div id="bin">
					01101000 01101001
				</div>
				<div id="ht">
					&lt;p class= "yo"&gt;
				</div>
				<div id="brack">
					<div id="brac">
						if(x>y){i+1}
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="weknow">
				We know code.
			</div>
		</div>

	</div>
</div>
