<div class="homecontainer container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="title">
				<h1>&lt;div&gt;ination <span class="design">design/</span></h1>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>